* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  --cyan: hsl(180, 66%, 49%);
  --dark-violet: hsl(257, 27%, 26%);
  --red: hsl(0, 87%, 67%);
  --gray: hsl(0, 0%, 75%);
  --grayish-violet: hsl(257, 7%, 63%);
  --dark-blue: hsl(255, 11%, 22%);
  --very-dark-violet: hsl(260, 8%, 14%);
  --light-gray: #eee;
  --body-size: 18px;

  font-size: 10px;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
}

input,
button {
  font-family: inherit;
}

.container {
  max-width: 120rem;
  margin: auto;
}

.logo {
  color: #34313d;
}

header .container {
  display: flex;
  padding-top: 4rem;
  align-items: center;
}

.header-buttons {
  margin-left: auto;
}

header ul {
  display: flex;
}

header li {
  list-style: none;
  font-weight: 700;
}

header a {
  text-decoration: none;
  color: var(--grayish-violet);
  border-radius: 99rem;
  padding: 1rem 2.5rem;
}

header a:hover {
  color: black;
}

header a:focus {
  outline: 2px dotted var(--cyan);
}

.sign-up {
  background-color: var(--cyan);
  color: white;
  transition: opacity 0.2s;
}

.sign-up:hover {
  color: white;
  opacity: 0.6;
}

.sign-up:focus {
  outline-offset: 0.2rem;
}

.hero .container {
  display: flex;
  min-height: 70rem;
  align-items: center;
  justify-content: space-between;
  font-size: 2rem;
}

.hero-ilustration {
  width: 65rem;
}

.hero h1 {
  font-size: 7rem;
  max-width: 13ch;
  color: var(--dark-blue);
  letter-spacing: -0.2rem;
  line-height: 1.1;
}

.hero p {
  max-width: 45ch;
  color: var(--grayish-violet);
  line-height: 1.7;
}

.hero button {
  margin-top: 2.5rem;
  background-color: var(--cyan);
  border-radius: 99rem;
  padding: 1.4rem 4.5rem;
  color: white;
  border: none;
  font-weight: 700;
  font-size: inherit;
  transition: opacity 0.2s;
  cursor: pointer;
}

.hero button:hover {
  opacity: 0.6;
}

.short-links {
  background-color: var(--light-gray);
}

.short-links form {
  display: flex;
  background-image: url(./images/bg-shorten-desktop.svg);
  background-color: var(--dark-violet);
  padding: 4rem;
  border-radius: 0.8rem;
  transform: translateY(-50%);
  margin-bottom: -5rem;
}

.short-links input,
.short-links button {
  border-radius: 0.8rem;
  padding: 1.3rem 2.5rem;
  font-size: inherit;
}

.short-links input {
  flex-grow: 1;
}

.short-links button {
  background-color: var(--cyan);
  border: none;
  color: white;
  margin-left: 2rem;
  transition: all 0.3s;
  cursor: pointer;
}

.short-links button:hover {
  opacity: 0.6;
  transform: scale(1.05);
}

.short-links button:active {
  transform: scale(0.9);
}

.card-link {
  display: flex;
  background-color: white;
  padding: 1rem 4rem;
  align-items: center;
}

.card-link:not(:first-of-type) {
  margin-top: 2rem;
}

.card-link p {
  color: var(--very-dark-violet);
}

.card-link a {
  margin-left: auto;
  color: var(--cyan);
  text-decoration: none;
}

button.copied {
  background-color: var(--dark-violet);
}

.stadictics {
  background-color: var(--light-gray);
  min-height: 85rem;
  padding-top: 15rem;
}

.stadictics .container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.stadictics-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 55ch;
  margin-bottom: 10rem;
}

.stadictics h2 {
  font-size: 3.5rem;
  margin-bottom: 0.7rem;
}

.stadictics p {
  color: var(--grayish-violet);
}

.cards {
  display: flex;
  gap: 3rem;
}

.cards article {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: white;
  max-width: 40rem;
  max-height: 30rem;
}

.cards article div {
  display: flex;
  min-height: 22rem;
  flex-direction: column;
  justify-content: space-between;
  padding: 3rem;
  margin-top: -3rem;
}

.cards article img {
  transform: translateY(-50%);
  margin-left: 2rem;
  background-color: var(--dark-violet);
  padding: 2rem;
  border-radius: 99rem;
}

.card-2 {
  transform: translateY(4rem);
}

.card-3 {
  transform: translateY(8rem);
}

.get-started {
  background-image: url(./images/bg-shorten-desktop.svg);
  background-color: var(--dark-violet);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.get-started .container {
  display: flex;
  flex-direction: column;
  padding: 3em 2em;
  min-height: 23rem;
  justify-content: space-around;
  align-items: center;
}

.get-started h2 {
  font-size: 3.5rem;
  color: white;
}

.get-started button {
  background-color: var(--cyan);
  border: none;
  color: white;
  border-radius: 99rem;
  padding: 1.2rem 4rem;
  margin-top: 1rem;
  font-size: inherit;
}

footer {
  background-color: var(--very-dark-violet);
}

footer .container {
  display: flex;

  align-items: center;
  min-height: 40rem;
}

.container-footer {
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: space-between;
}

.container-footer .logo {
  color: white;
}

footer .info-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 15rem;
}

footer p {
  color: white;
  font-weight: 700;
  margin-bottom: 2rem;
}

footer li {
  list-style: none;
  font-weight: 500;
}

footer a {
  text-decoration: none;
  color: var(--grayish-violet);
}

.container-socials {
  display: flex;
}

.socials {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}

.socials img :hover {
  color: var(--cyan) !important;
}

.attribution {
  display: flex;
  justify-content: center;
}

@media (max-width: 1200px) {
  .container {
    max-width: 80rem;
  }
  .hero h1 {
    font-size: 6rem;
  }
  .hero-ilustration {
    width: 35rem;
  }

  .cards article {
    min-width: 25rem;
    max-height: 25rem;
  }

  .cards article div {
    justify-content: center;
    margin-top: -6rem;
  }

  .cards article img {
    transform: translateY(-50%);
    background-color: var(--dark-violet);
    border-radius: 99rem;
  }

  .stadictics h3 {
    font-size: 2rem;
  }

  .stadictics p {
    color: var(--grayish-violet);
    font-size: 1.2rem;
  }
}

@media (max-width: 800px) {
  .container {
    max-width: 50rem;
  }

  .hero .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .hero .container div {
    order: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 40rem;
  }

  .hero-ilustration {
    order: 1;
    width: 30rem;
    margin-left: 5rem;
  }

  .hero h1 {
    margin-top: 3rem;
    font-size: 4rem;
  }

  .hero p {
    font-size: 1.5rem;
  }

  .short-links .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
  }

  .short-links form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .short-links input {
    width: 95%;
    font-size: 1.3rem;
  }

  .short-links button {
    margin: 0;
    margin-top: 2rem;
    width: 95%;
  }

  .card-link {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    padding: 2rem 0;
    align-items: center;
  }

  .card-link hr {
    width: 100%;
    color: var(--grayish-violet);
    margin-bottom: 0.5rem;
  }

  .card-link p {
    margin-bottom: 0.5rem;
    padding: 1rem;
    text-align: center;
  }
  .card-link a {
    margin: 0;
    padding: 1rem;
  }

  .stadictics {
    padding-top: 4rem;
    padding: 0 3rem;
    min-height: 14rem;
  }

  .stadictics h2 {
    margin-top: 2rem;
  }

  .stadictics article {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .stadictics article img {
    margin: 0;
  }

  .stadictics .cards {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 12rem;
  }
  .stadictics article div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .card-2,
  .card-3 {
    transform: translateY(none);
  }

  .get-started h2 {
    font-size: 2.5rem;
  }

  .container-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
    padding: 4rem;
  }

  .container-footer div {
    margin-top: 4rem;
  }
}
